/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  min-width: 320px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #151618;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  background-color: transparent;
}

input {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  font-family: "Cormorant", serif;
  color: #151618;
  text-align: center;
}
@media (max-width: 360px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .header-wrapper {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (max-width: 680px) {
  .header-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header {
  margin: 30px 0;
  min-height: 142px;
}
@media (max-width: 1000px) {
  .header {
    min-height: 105px;
  }
}
@media (max-width: 480px) {
  .header {
    min-height: 56px;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin-left: auto;
    margin-right: 154px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    margin-right: 80px;
    max-width: 39px;
  }
}
@media (max-width: 360px) {
  .header__logo {
    margin-right: 50px;
  }
}
@media (max-width: 1000px) {
  .header__nav {
    margin-right: auto;
  }
}
.header__actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 180px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .header__actions-list {
    min-width: 130px;
  }
}
@media (max-width: 360px) {
  .header__actions-list {
    min-width: 100px;
  }
}
.header__actions-item:nth-child(2) {
  margin-left: 20px;
  margin-right: auto;
}
@media (max-width: 360px) {
  .header__actions-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}

.header__menu-btn {
  display: none;
  width: 40px;
  height: 20px;
}
.header__menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #000;
}
@media (max-width: 768px) {
  .header__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}
@media (max-width: 768px) {
  .header__menu-close {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 65px;
}
@media (max-width: 1000px) {
  .nav__list {
    margin-left: 60px;
  }
}
@media (max-width: 900px) {
  .nav__list {
    gap: 0 45px;
  }
}
@media (max-width: 768px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .nav__list-item {
    margin-bottom: 30px;
  }
}
.nav__list-link {
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .nav__list-link {
    color: #000;
    font-family: "Cormorant", serif;
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .nav {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    max-width: 560px;
    width: 100%;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
@media (max-width: 480px) {
  .nav {
    max-width: 360px;
  }
}
.nav .mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  .nav .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 30px 0 30px;
    padding: 60px 0;
    border-top: 2px solid #F7F2EA;
  }
}
@media (max-width: 768px) {
  .nav .mobile-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 35px 0;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .nav .mobile-menu__item {
    font-size: 13px;
    font-weight: 300;
    color: #000;
  }
}
.nav .mobile-actions {
  display: none;
}
@media (max-width: 768px) {
  .nav .mobile-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    background-color: #F7F2EA;
  }
}
.nav .mobile-actions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 70px;
  margin: 0 auto;
}

.nav.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.top {
  background-image: url("./images/top-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
}
@media (max-width: 1000px) {
  .top {
    background-position: left center;
  }
}
@media (max-width: 360px) {
  .top {
    padding-bottom: 30px;
  }
}
.top::before {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40.1%, rgba(0, 0, 0, 0)), color-stop(97.4%, #000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.top__title {
  max-width: 780px;
  font-family: "Cormorant", serif;
  color: #fff;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  z-index: 1;
}
@media (max-width: 680px) {
  .top__title {
    max-width: 450px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 360px) {
  .top__title {
    font-size: 24px;
    line-height: 29px;
    max-width: 340px;
  }
}
.top__text {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
  max-width: 560px;
  z-index: 1;
}
@media (max-width: 480px) {
  .top__text {
    max-width: 450px;
  }
}
@media (max-width: 360px) {
  .top__text {
    font-size: 13px;
    line-height: 18px;
    max-width: 330px;
  }
}

.top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
  min-height: 450px;
}
@media (max-width: 360px) {
  .top-inner {
    gap: 10px;
    min-height: 337px;
  }
}

.quote {
  max-width: 704px;
  width: 100%;
  text-align: center;
  margin: 150px auto;
  position: relative;
}
@media (max-width: 1000px) {
  .quote {
    margin: 120px auto 135px;
  }
}
@media (max-width: 768px) {
  .quote {
    max-width: 640px;
  }
}
@media (max-width: 680px) {
  .quote {
    margin: 60px auto;
    max-width: 376px;
  }
}
@media (max-width: 480px) {
  .quote {
    margin: 70px auto 80px;
  }
}
@media (max-width: 360px) {
  .quote {
    max-width: 340px;
  }
}
.quote::before {
  position: absolute;
  content: '';
  width: 360px;
  height: 60px;
  background-color: #F7F2EA;
  opacity: .5;
  bottom: -15px;
  right: -40px;
  z-index: -1;
}
@media (max-width: 768px) {
  .quote::before {
    width: 273px;
    right: 0;
  }
}
@media (max-width: 680px) {
  .quote::before {
    width: 100px;
    height: 22px;
    right: 120px;
    bottom: 0;
  }
}
@media (max-width: 360px) {
  .quote::before {
    right: 80px;
  }
}
.quote__text {
  font-size: 40px;
  line-height: 48px;
  font-family: "Cormorant", serif;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 680px) {
  .quote__text {
    font-size: 16px;
    line-height: 22px;
  }
}

.collection {
  margin-bottom: 150px;
}
@media (max-width: 1000px) {
  .collection {
    margin-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .collection {
    margin-bottom: 60px;
  }
}
.collection__title {
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .collection__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .collection__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .collection__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .collection__title {
    margin-bottom: 0;
  }
}
.collection__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 40px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .collection__inner {
    padding: 0 20px;
    gap: 0 4px;
  }
}
@media (max-width: 768px) {
  .collection__inner {
    padding: 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 636px;
  }
}
@media (max-width: 480px) {
  .collection__inner {
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .collection__inner {
    padding: 0;
  }
}
.collection__item {
  text-align: center;
  max-width: 208px;
  width: 100%;
}
@media (max-width: 1000px) {
  .collection__item {
    max-width: 188px;
  }
}
@media (max-width: 480px) {
  .collection__item {
    max-width: 208px;
  }
}
@media (max-width: 465px) {
  .collection__item {
    max-width: 159px;
  }
}
@media (max-width: 768px) {
  .collection__item + .collection__item {
    margin-left: 6px;
  }
}
@media (max-width: 480px) {
  .collection__item + .collection__item {
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  .collection__item + .collection__item {
    margin-left: -15px;
  }
}
.collection__item-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-family: "Cormorant", serif;
  margin-top: 10px;
}

.feedback {
  padding: 60px 0;
  background-color: rgba(247, 242, 234, 0.5);
  margin-bottom: 150px;
}
@media (max-width: 1000px) {
  .feedback {
    margin-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .feedback {
    margin-bottom: 60px;
    padding: 50px 0;
  }
}
@media (max-width: 360px) {
  .feedback {
    margin-bottom: 50px;
  }
}
.feedback__title {
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .feedback__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 360px) {
  .feedback__title {
    margin-bottom: 30px;
  }
}
.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .feedback__inner {
    padding: 0 54px;
  }
}
@media (max-width: 768px) {
  .feedback__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 65px;
  }
}
@media (max-width: 720px) {
  .feedback__inner {
    padding: 0 0;
  }
}
.feedback__item {
  max-width: 280px;
  width: 100%;
}
@media (max-width: 768px) {
  .feedback__item {
    margin-bottom: 30px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
@media (max-width: 580px) {
  .feedback__item {
    max-width: 240px;
  }
}
@media (max-width: 500px) {
  .feedback__item {
    max-width: 220px;
  }
}
@media (max-width: 460px) {
  .feedback__item {
    max-width: 100%;
  }
}
.feedback__item + .feedback__item {
  padding-left: 10px;
}
@media (max-width: 360px) {
  .feedback__item + .feedback__item {
    margin-bottom: 0;
  }
}
@media (max-width: 1000px) {
  .feedback .tablet {
    display: none;
  }
}
@media (max-width: 768px) {
  .feedback .tablet {
    display: block;
  }
}
@media (max-width: 460px) {
  .feedback .tablet {
    display: none;
  }
}
@media (max-width: 460px) {
  .feedback .mobile {
    display: none;
  }
}
.feedback__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}
.feedback__author {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.blog {
  margin-bottom: 150px;
}
@media (max-width: 480px) {
  .blog {
    margin-bottom: 60px;
  }
}
@media (max-width: 360px) {
  .blog {
    margin-bottom: 50px;
  }
}
.blog__title {
  margin-bottom: 60px;
}
@media (max-width: 360px) {
  .blog__title {
    margin-bottom: 30px;
  }
}
.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 60px;
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .blog__inner {
    gap: 40px 20px;
  }
}
@media (max-width: 960px) {
  .blog__inner {
    padding: 0 64px;
    gap: 30px 20px;
  }
}
@media (max-width: 580px) {
  .blog__inner {
    padding: 0 10px;
  }
}
@media (max-width: 360px) {
  .blog__inner {
    margin-bottom: 30px;
  }
}
.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 542px;
  width: 100%;
  gap: 0 20px;
}
@media (max-width: 1200px) {
  .blog__item {
    max-width: 460px;
  }
}
@media (max-width: 960px) {
  .blog__item {
    max-width: 542px;
  }
  .blog__item:nth-child(even) {
    margin-left: 98px;
  }
}
@media (max-width: 680px) {
  .blog__item:nth-child(even) {
    margin-left: 0;
  }
}
@media (max-width: 460px) {
  .blog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 45px;
  }
}
.blog__item-img {
  max-width: 270px;
  width: 100%;
}
@media (max-width: 1000px) {
  .blog__item-img {
    max-width: 230px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (max-width: 960px) {
  .blog__item-img {
    max-width: 270px;
  }
}
@media (max-width: 480px) {
  .blog__item-img {
    max-width: 230px;
  }
}
@media (max-width: 460px) {
  .blog__item-img {
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.blog__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 360px) {
  .blog__item-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.blog__item-title {
  font-family: "Cormorant", serif;
  color: #151618;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (max-width: 360px) {
  .blog__item-title {
    margin-bottom: 5px;
  }
}
.blog__author-link, .blog__item-link {
  font-family: "Open Sans", sans-serif;
  color: #151618;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (max-width: 360px) {
  .blog__author-link {
    margin-bottom: 10px;
  }
}
.blog__item-link {
  max-width: 48px;
  padding-right: 12px;
  position: relative;
}
.blog__item-link::before {
  position: absolute;
  content: '';
  background-image: url("./images/blog/more-icon.svg");
  background-repeat: no-repeat;
  top: 4px;
  right: 0;
  width: 5px;
  height: 10px;
}
.blog__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
  padding: 12px 41px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #151618;
  border: 1px solid #151618;
}
@media (max-width: 460px) {
  .blog .mobile {
    display: none;
  }
}

.subscribe {
  margin-bottom: 150px;
  background-color: #F7F2EA;
  position: relative;
  padding: 100px 0;
}
.subscribe::before {
  position: absolute;
  content: '';
  background-image: url("./images/tea.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 674px;
  height: 418px;
}
@media (max-width: 1000px) {
  .subscribe {
    padding: 60px 0;
    margin-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .subscribe {
    padding: 50px 0;
    margin-bottom: 60px;
  }
}
.subscribe__title {
  text-align: left;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .subscribe__title {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .subscribe__title {
    margin-bottom: 30px;
  }
}
.subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .subscribe__inner {
    display: block;
  }
}
.subscribe__text {
  max-width: 580px;
  width: 100%;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
@media (max-width: 1000px) {
  .subscribe__text {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .subscribe__text {
    max-width: 640px;
  }
}
@media (max-width: 480px) {
  .subscribe__text {
    max-width: 100%;
    font-size: 13px;
    line-height: 18px;
  }
}
.subscribe__form-box {
  max-width: 580px;
  width: 100%;
}
@media (max-width: 1000px) {
  .subscribe__form-box {
    margin: 0 auto;
  }
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.subscribe__input {
  max-width: 440px;
  width: 100%;
  margin-right: 25px;
  padding-left: 15px;
  background-color: transparent;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #151618;
  border-bottom: 1px solid #B8B58B;
}
.subscribe__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #B8B58B;
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #B8B58B;
}
.subscribe__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #B8B58B;
}
.subscribe__input::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #B8B58B;
}
.subscribe__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 116px;
  background-color: #fff;
  line-height: 1.5;
  padding: 12px 41px;
  border: 1px solid #151618;
}
.subscribe__input-privacy {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
}

.priority {
  margin-bottom: 150px;
}
@media (max-width: 1000px) {
  .priority {
    margin-bottom: 120px;
  }
}
@media (max-width: 480px) {
  .priority {
    margin-bottom: 60px;
  }
}
@media (max-width: 360px) {
  .priority {
    margin-bottom: 50px;
  }
}
.priority__title {
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .priority__title {
    margin-bottom: 30px;
  }
}
.priority__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 49px;
          column-gap: 49px;
}
@media (max-width: 1000px) {
  .priority__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .priority__inner {
    grid-template-columns: 1fr;
  }
}
.priority__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1000px) {
  .priority__item {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .priority__item {
    margin-bottom: 50px;
  }
}
@media (max-width: 360px) {
  .priority__item {
    margin-bottom: 40px;
  }
}
.priority__item-title {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 10px;
}
.priority__item-text {
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 40px;
}
.priority__img {
  width: 60px;
  margin-top: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
