.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:768px){
       padding-left: 54px;
       padding-right: 54px;        
    }
    @media(max-width:680px){
       padding-left: 0px;
       padding-right: 0px;        
    }
}
.header {   
    margin: 30px 0;
    min-height: 142px;  
    @media(max-width:1000px){
        min-height: 105px;
      }  
    @media(max-width:480px){
        min-height: 56px;
        margin: 10px 0;
      }  
    &__logo{
        @media(max-width:768px){
            margin-left: auto;   
            margin-right: 154px;        
        }
        @media(max-width:480px){
            margin-right: 80px;
            max-width: 39px;
        }       
        @media(max-width:360px){
            margin-right: 50px;           
        }       
    }
    &__nav {  
        @media(max-width:1000px){
            margin-right: auto;          
        }    
    }

    &__actions-list {
        display: flex;
        min-width: 180px;
        width: 100%;
        justify-content: space-between;
        @media(max-width:1000px){
          min-width: 130px;
        }
        @media(max-width:360px){
           min-width: 100px;
        }
    }

    &__actions-item:nth-child(2) {
        margin-left: 20px;
        margin-right: auto;
        @media(max-width:360px){
           margin-left: 0;
           margin-right: 0;
         }
    }
    
}
.header__menu-btn{
    display: none;
    width: 40px;
    height: 20px;    
    span{       
        width: 100%;
        height: 2px;       
        background-color: #000;
    }
    @media(max-width:768px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.header__menu-close{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    @media(max-width:768px){
      display: block;
     }
}
.nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0 65px;
        @media(max-width:1000px){
            margin-left: 60px;
        }
        @media(max-width:900px){
           gap: 0 45px;
        }
        @media(max-width:768px){
           flex-direction: column;
           margin-left: 0;
        }
    } 
    &__list-item{
        @media(max-width:768px){
           margin-bottom: 30px;          
         } 
    }
    &__list-link {
        font-size: 18px;
        font-weight: 400;
        @media(max-width:768px){          
            color: #000;
            font-family: $title-font;
            font-size: 24px;     
            line-height: normal;
            
          } 
    }
    @media(max-width:768px){
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        max-width: 560px;
        width: 100%;
        background-color: $white;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding-top: 60px;
        transform: translateY(-100%);
        transition: all 0.5s ease;
    }
    @media(max-width:480px){
        max-width: 360px;
     }
    .mobile-menu{
        display: none;
        @media(max-width:768px){
            display: flex;  
            margin: 30px 30px 0 30px; 
            padding: 60px 0;    
            border-top: 2px solid $bg-color;   
        }
        &__list{
            @media(max-width:768px){ 
                display: flex;
                align-items: center;               
                flex-direction: column;
                justify-content: space-between;
                gap: 35px 0;
                margin: 0 auto;
            }  
        }
        &__item{
            @media(max-width:768px){ 
                font-size: 13px;
                font-weight: 300;
                color: #000;
            }  
        }
    }
    .mobile-actions{
        display: none;
        @media(max-width:768px){
            display: flex; 
            padding: 20px;
            background-color: $bg-color;                     
        }
        &__list{
            display: flex;  
            align-items: center;
            justify-content: center; 
            gap: 0 70px; 
            margin: 0 auto;
        }
    }
}
.nav.active{
    transform: translateY(0);
}